body {
  background: #111;
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#chat {
  width: 350px;
  background: #1e1e1e;
  padding: 10px;
  border-radius: 10px;
}

#messages {
  height: 300px;
  overflow-y: auto;
  background: #000;
  padding: 5px;
  margin-bottom: 10px;
}

.msg {
  margin: 4px 0;
}

#input input {
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
}

button {
  width: 100%;
  padding: 6px;
  background: #00ffcc;
  border: none;
  cursor: pointer;
}
